<div layout="column" style="height:600px" ng-cloak>
    <div ng-controller="quizCtrl">
        <md-toolbar md-scroll-shrink ng-if="true">
            <div class="md-toolbar-tools">
                <img style="margin-right: 5px;" src="/static/images/favicon.png">
                <h3><span>Sage Test</span></h3>
            </div>
        </md-toolbar>
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Domanda 1">
                <div class="tab-container" ng-include="'/state/quiz/quiz1.html'"></div>
            </md-tab>
            <md-tab label="Domanda 2" ng-disabled="!quizs.quiz1">
                <div class="tab-container" ng-include="'/state/quiz/quiz2.html'"></div>
            </md-tab>
            <md-tab label="Domanda 3" ng-disabled="!quizs.quiz2.img1 || !quizs.quiz2.img2">
                <div class="tab-container" ng-include="'/state/quiz/quiz3.html'"></div>
            </md-tab>
            <md-tab label="Domanda 4" ng-disabled="!quizs.quiz3">
                <div class="tab-container" ng-include="'/state/quiz/quiz4.html'"></div>
            </md-tab>
            <md-tab label="Domanda 5" ng-disabled="!quizs.quiz4">
                <div class="tab-container" ng-include="'/state/quiz/quiz5.html'"></div>
            </md-tab>
            <md-tab label="Domanda 6" ng-disabled="!quizs.quiz5">
                <div class="tab-container" ng-include="'/state/quiz/quiz6.html'"></div>
            </md-tab>
            <md-tab label="Domanda 7" ng-disabled="!quizs.quiz5">
                <div class="tab-container" ng-include="'/state/quiz/quiz7.html'"></div>
            </md-tab>
            <md-tab label="Domanda 8" ng-disabled="!quizs.quiz7">
                <div class="tab-container" ng-include="'/state/quiz/quiz8.html'"></div>
            </md-tab>
            <md-tab label="Domanda 9" ng-disabled="!quizs.quiz8">
                <div class="tab-container" ng-include="'/state/quiz/quiz9.html'"></div>
            </md-tab>
            <md-tab label="Domanda 10" ng-disabled="!quizs.quiz9">
                <div class="tab-container" ng-include="'/state/quiz/quiz10.html'"></div>
            </md-tab>
            <md-tab label="Domanda 11" ng-disabled="!quizs.quiz10">
                <div class="tab-container" ng-include="'/state/quiz/quiz11.html'"></div>
            </md-tab>
            <md-tab label="Domanda 11">
                <md-content class="md-padding">
                    <p>Hai finito?</p>
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Scrivi qui la risposta</label>
                        <input ng-model="quizs.quiz11111">
                    </md-input-container>
                </md-content>
            </md-tab>
        </md-tabs>
    </div>
</div>
