<md-content class="md-padding">
    <div layout="column" layout-align="center center">
        <img src="/static/images/square.png">
        <p>La figura sottostante contiene 5 quadrati: elimina 3 linee per creare una figura che contenga 4 quadrati. Poi clicca "fatto" per controllare che hai eliminato le linee corrette</p>
    </div>
    <md-divider class="margin-divider"></md-divider>
    <div ng-show="!showTen">
        <img style="width: 200px;" ng-src="/static/images/prova.png">
        <md-button class="md-raised md-primary" ng-click="showTest10()">Fatto</md-button>
    </div>
</md-content>
<md-container class="md-block" flex-gt-sm ng-show="showTen">
    <img style="width: 200px;" ng-src="/static/images/prova.png">
    <md-radio-group ng-model="quizs.quiz10">
        <md-radio-button value="2">Hai fatto bene il disegno</md-radio-button>
        <md-radio-button value="0">Hai sbagliato il disegno</md-radio-button>
    </md-radio-group>
</md-container>
