<md-content class="md-padding">
    <div layout="column" layout-align="center center">
        <img src="/static/images/diagr.png">
        <p>Collega tutti i nodi della figura sotostante alternando numeri e lettere (es. 1-A-2-B ecc). Quando hai finito clicca "fatto" e controlla se hai fatto tutto giusto</p>
    </div>
    <md-divider class="margin-divider"></md-divider>
    <div ng-show="!showNine" style="text-align: -webkit-center;">
        <img style="width: 40%;" ng-src="/static/images/img9.png">
        <md-button class="md-raised md-primary" ng-click="showTest9()" style="margin: 15px 42%;">Fatto</md-button>
    </div>
</md-content>
<md-container class="md-block" flex-gt-sm ng-show="showNine" style="margin: auto 26%;text-align: -webkit-center;">
    <p><b>La sequenza esatta è 1-A-2-B-3-C-4-D-5-E-6-F</b></p>
    <md-radio-group ng-model="quizs.quiz9">
        <md-radio-button value="1" style="margin: 15px 45%;">Sequenza corretta</md-radio-button>
        <md-radio-button value="2" style="margin: 15px 45%;">1 o 2 errori</md-radio-button>
        <md-radio-button value="0" style="margin: 15px 45%;">piu' di 2 errori</md-radio-button>
    </md-radio-group>
</md-container>
